body{
    background-color: #f2f2f2;
}
.navbar-brand{
    padding-right: 25px;
    padding-left: 25px;
    font-size: 40px;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#jumbotron-left{
    margin-right:.6cm;
    margin-left: .7cm;
}
#jumbotron-right{
    margin-right: .6cm;
    margin-left: .6cm;
}
#jumbotron-visualizations-page{
    margin-right: .7cm;
    margin-left: 1cm;
}
#image-selected{
    border: 4px solid #36a3b8;
    padding: 0px;
}
#img-chosen-jumbotron-left{
    padding-bottom: 35px;
}